.btnTest {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: rgba(57, 57, 157, 0.616);
    color: white;
    outline: none;
    border: 1px solid rgba(221, 86, 68, 0.616);
    border-radius: 4px;
}