.ourHisturyBox {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 356px;
}

.ourHisturyImg {
  position: relative;
  display: block;
  margin: 0 auto;
  background-color: rgb(171, 166, 206);
  width: 339px;
  height: 233px;
}

.rectangleCF4 {
  position: absolute;
  top: -15px;
  right: -9.2px;

  background-color: #f6973f;
  min-width: 52px;
  min-height: 46px;
}
