.lastPublic {
  position: relative;
  padding: 0 18px;
  margin-bottom: 60px;
}

.lpCatalogBox {
  padding-bottom: 32px;
  max-width: 250px;

  &:hover .lpCatalog {
    transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #403730;
  }

  &:hover .lpArrow {
    transition: fill 150ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #f6973f;
  }
}

.lpCatalog {
  @include font(18px, 1.1, 0.05em, 700);

  display: flex;
  padding: 5px;
  color: #f6973f;
  cursor: none;
  outline: none;
}

.lpArrow {
  fill: #525252;
  margin-left: 8px;
}

.lpCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:hover .overlay-text,
  &:focus .overlay-text {
    transform: translateY(0);
  }

  &:active .overlayText {
    transform: translateY(100%);
  }
}

.lpName {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  margin: 0 auto;
  text-transform: uppercase;
  color: #403730;
  padding-top: 16px;
  padding-bottom: 20px;
}

.swiperScrollbarHorizontal {
  opacity: 1 !important;
}

.swiperContainer {
  overflow: hidden;
}

.swiperScrollbar {
  position: absolute;
  top: 0;
  right: 0;
}

.overlayCard {
  border-radius: 4px;
}

.lpImgBox {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  min-width: 340px;
  height: 278px;
  background-color: #d9d9d9;
  border-radius: 4px;
}

.overlayText {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  font-weight: 400;
  overflow: visible;
  color: #f9f9f9;
  padding: 15px;

  position: absolute;
  top: 0;
  left: 0;
  min-width: 340px;
  min-height: 278px;

  background-color: rgba(61, 61, 61, 0.8);

  transform: translateY(100%);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    transform: translateY(-100%);
  }
}

.testBtn {
  position: absolute;
  top: 0;
  left: 0;
}
