.formSection {
  background-color: #899678;
}

.formContainer {
  padding: 56px 18px;
}

.form {
  /* min-height: 336px; */
  padding-bottom: 32px;
}

.formBox {
  display: block;
  margin: 0 auto;
  background-color: #ebebeb;
  width: 340px;
}

.actionTextBox {
  padding: 20px 0 0 36px;
}

.actionText {
  font-size: 14px;
  font-weight: 300;
  color: #f6973f;
}

.formSubtitleBox {
  display: flex;
  justify-content: center;
  padding: 12px 0;
}

.formSubtitle {
  font-size: 20px;
  font-weight: 700;
  color: #2c2b29;
  text-transform: uppercase;
}

.formBlock {
  display: block;
  margin: 0 auto;
  width: 268px;
}

.dataField {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #aeaeae;
}

.dataField__input {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.07em;
  font-weight: 500;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #aeaeae;
  background-color: transparent;
  min-width: 268px;
  min-height: 28px;
  margin: 0;
  color: #2c2b29;
  padding-left: 4px;
  outline: none;

  /* transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1); */

  &:focus,
  &:hover {
    border-bottom: 1px solid #f6973f;
    outline: none;
    background-color: transparent;
  }
}
.dataField__input.inputHasValue .dataFieldText {
  opacity: 0;
}

.dataFieldText {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px 0 1px 3px;

  font-size: 14px;
  font-weight: 500;
  color: #aeaeae;

  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;

  /* .dataField__input.inputHasValue & {
    opacity: 0;
  } */
}

/* POLICY */
.policyBox {
  width: 269px;
}

.policy {
  display: flex;
  align-items: baseline;
  margin: -1px;
  position: relative;
  cursor: none;
}
.policy__checkbox {
  position: absolute;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .policy__icon {
    border: 0.7px solid #aeaeae;
    background-color: #f6973f;
    /* background-image: url("../images/checkmark.svg"); */
    background-image: url(../../img/checkmark.svg);
    background-size: contain;
    background-origin: border-box;
  }
}
.policy__icon {
  display: inline-block;
  min-width: 18px;
  min-height: 18px;
  position: relative;
  top: -7px;
  left: -6px;
  transform: translate(50%, 50%);
  border: 1px solid #aeaeae;
}
.policy__text {
  font-size: 12px;
  line-height: 1.4;
  font-weight: 400;
  color: #aeaeae;
  margin-left: 16px;
}

.checkboxBox {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.btn {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.08em;
  font-weight: 500;
  color: #f9f9f9;
  text-transform: uppercase;
  padding: 11px 23px;
  margin: 0 auto;
  background-color: #f6973f;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: none;
  display: block;

  &:active {
    box-shadow: inset 0px 0px 3px 3px rgba(0, 0, 0, 0.1),
      inset 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    background-color: #dd8839;
  }
}
