.formSection {
  background-color: #899678;
}

.formContainer {
  padding: 56px 18px;
}

.formBox {
  display: block;
  margin: 0 auto;
  background-color: #ebebeb;
  width: 340px;
}

.actionTextBox {
  padding: 20px 0 0 36px;
}

.actionText {
  font-size: 14px;
  font-weight: 300;
  color: #f6973f;
}

.formSubtitleBox {
  display: flex;
  justify-content: center;
  padding: 12px 0;
}

.formSubtitle {
  font-size: 20px;
  font-weight: 700;
  color: #2c2b29;
  text-transform: uppercase;
}
