.serachContainer {
  padding: 32px 0 60px 0;
}

.searchForm {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 270px;
}
.searchForm__input {
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.08em;
  font-weight: 400;
  min-width: 270px;
  min-height: 34px;
  color: #2c2b29;
  padding-left: 12px;
  border: 1px solid #aeaeae;
  border-radius: 4px;
  outline: none;

  &:focus {
    border: 1px solid #403730;
  }
}
.searchForm__btn {
  position: absolute;
  right: 0;

  max-width: 24px;
  max-height: 24px;
  background-color: transparent;
  border: none;
  fill: #403730;
}

.searchIcon {
  min-width: 24px;
  min-height: 24px;
  color: #403730;
}
