.footer {
  background-color: #899678;
}

.footerContainer {
  margin: 0 auto;
  padding: 48px 18px 28px 18px;
  min-width: 339px;
}

.footerGrid {
  margin: 0 auto;
  max-width: 304px;
}

.footerSocialContainer {
  padding-top: 28px;
}

.footerTel {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.footerTel__tel {
  font-size: 18px;
}

.fsList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.fsItem {
  margin-right: 32px;

  &:last-child {
    margin-right: 0;
  }
}

.fsLink {
  color: #403730;

  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:active {
    fill: #f6973f;
  }
}

.socialIconF {
  min-width: 38px;
  min-height: 38px;
}

.logoFooter {
  display: flex;
  justify-content: center;
  padding-top: 52px;
}
