.companyInfo {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
}

.ciList {
  position: relative;
}

.ciItem {
  margin-bottom: 132px;
  max-width: 278px;

  &:last-child {
    margin-bottom: 0;
  }
}

.ciText {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.13em;
  font-weight: 400;
  padding-top: 12px;
}

.ciNumber {
  font-size: 176px;
  line-height: 0.7;
  font-weight: 900;
  position: absolute;
  left: -45px;

  color: rgba(201, 193, 173, 0.4);
  z-index: -1;
}
