.menuContainer {
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ebebeb;
  max-width: 240px;
  height: 100vh;
  z-index: 999;
}

.mobileMenu {
  display: flex;
}
.mobileMenu__list {
  padding: 0;
  margin: 0 auto;
}
.mobileMenu__item {
  display: flex;
  align-items: baseline;
  margin-bottom: 16px;

  &:last-of-type {
    margin-bottom: 32px;
  }
}

.burgerMenu {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
}
