.menuContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ebebeb;
  max-width: 240px;
  height: 100vh;
  z-index: 999;
}

.burgerMenu {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
}
