.ourHistury {
    position: relative;
    min-height: 464px;
    margin-bottom: 90px;
  }
  
  .ourHisturyContainer {
    background-color: #5b5b5b;
    max-height: 250px;
  }
  
  .ourHistoryTextBox {
    padding: 0 18px;
  }

  .sectionTitle {
    font-size: 22px;
    line-height: 1;
    font-weight: 700;
    color: #f9f9f9;
    padding: 78px 0 20px 0;
  }
  .sectionTitle__dark {
    font-size: 22px;
    line-height: 1;
    font-weight: 700;
    color: #2c2b29;
    padding: 78px 0 20px 0;
  }
  .sectionTitle__ourHistory {
    position: absolute;
    /* top: -52; */
    margin-top: -52px;
    left: 18px;
    padding: 0;
  }
  .sectionTitle__lastLublic {
    padding: 0 0 32px 0;
  }
  
  .sectionSubtitle {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.08em;
    font-weight: 500;
    color: #f9f9f9;
    padding-bottom: 12px;
  }
  .sectionSubtitle__ourHistory {
    padding-top: 48px;
  }
  .letter {
    color: #f6973f;
  }
  
  .sectionText {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.15em;
    font-weight: 300;
    color: #f9f9f9;
    padding-bottom: 68px;
  }
  
  .ourHisturyBox {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 356px;
  }
  
  .ourHisturyImg {
    position: relative;
    display: block;
    margin: 0 auto;
    background-color: rgb(171, 166, 206);
    width: 339px;
    height: 233px;
  }
  
  .rectangleCF4 {
    position: absolute;
    top: -15px;
    right: -9.2px;
  
    background-color: #f6973f;
    min-width: 52px;
    min-height: 46px;
  }
  