.ourHistury {
  position: relative;
  min-height: 464px;
  margin-bottom: 90px;
}

.ourHisturyContainer {
  background-color: #5b5b5b;
  max-height: 250px;
}

.sectionTitle__lastLublic {
  padding: 0 0 32px 0;
}
