.ourHistoryTextBox {
  padding: 0 18px;
}

.sectionText {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  font-weight: 300;
  color: #f9f9f9;
  padding-bottom: 68px;
}

.sectionSubtitle {
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.08em;
  font-weight: 500;
  color: #f9f9f9;
  padding-bottom: 12px;
}
